@import url("./css/fonts.module.css");

body {
  font-family: var(--reg);
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./img/foodiesfeed.com_messy-pizza-on-a-black-table.webp");
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}
